body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.plus-button{
  position: absolute;
  z-index: 100;
  left: 5px;
  bottom: 5px;
  border-radius: 50px
}
.row{
  height: 100%;
}
.pin{
  height: 30px;
  width: 30px;
  background: #F9D54F;
  border-radius: 50% 50% 50% 0;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  cursor: pointer;
}
.pin::after{
    content: '';
    width :14px;
    height: 14px;
    margin: 8px 0 0 8px;
    background: #C7AB3F;
    position :absolute;
    border-radius: 50%;
    cursor: pointer;
}


h5.text-above-map-item {
  cursor: pointer;
  font-size: 10px !important;
  position: absolute !important;
  bottom: 13px !important;
  left: -14px !important;
  /* background-color: white; */
  /* padding: 59px; */
  color: white;
  background: #3e5be7;
  padding: 6px;
  border-radius: 10px;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  color: black;
}


/*

 width 30px
  height 30px
  border-radius 50% 50% 50% 0
  background #89849b
  position absolute
  transform rotate(-45deg)
  left 50%
  top 50%
  margin -20px 0 0 -20px
  animation-name bounce
  animation-fill-mode both
  animation-duration 1s
  &:after*/